.list-contact{
    display: flex;
    justify-content: center;
    width: 100vw;
}

.div-detele{
    padding: 10px;
    display: flex;
    justify-content: right;
    button{
        background-color: brown;
        color: white;
    }
}